---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-weight: 400;
$base-line-height: 2;

$min-font-size: 16px;
$max-font-size: 20px;

$min-viewport-width: 500px;
$max-viewport-width: 1280px;

$content-width:    42rem;

$color-black:      #292929;
$color-white:      #fff;
$color-grey:       #757575;
$color-grey-light: lighten($color-grey, 40%);
$color-grey-dark:  darken($color-grey, 25%);

$color-brand:      #dc2430;
$color-accent:     #7b4397;

// Sizing based on a "perfect fourth" modular scale: http://www.modularscale.com/?1&em&1.333
$size-0:          0.75rem;
$size-1:          1rem;
$size-2:          1.333rem;
$size-3:          1.777rem;
$size-4:          2.369rem;
$size-5:          3.157rem;

$spacing-unit:    $size-2;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin gradient($direction) {
  background: $color-accent;
  background: linear-gradient($direction, $color-accent , $color-brand);
}

@import "base", "layout", "syntax-highlighting";
