---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   1.125rem;
$base-font-weight: 400;
$base-line-height: 2;

$spacing-unit:     1rem;

$color-black:      #333;
$color-white:      #fdfdfd;
$color-grey:       #828282;
$color-grey-light: lighten($color-grey, 40%);
$color-grey-dark:  darken($color-grey, 25%);

$color-brand:      #dc2430;
$color-accent:     #7b4397;

$content-width:    700px;

$device-mobile:    600px;
$device-tablet:    800px;

$z-title:          10;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin gradient($direction) {
  background: $color-accent;
  background: -webkit-linear-gradient($direction, $color-accent , $color-brand);
  background: linear-gradient($direction, $color-accent , $color-brand);
}

@import "base", "layout", "syntax-highlighting";
