---
layout: default
title: "Stuff I've Talked About"
nav_title: "Speaking"
category: "talk"
---

<ul class="post-list">
  {% for post in site.posts %}
    {% if post.category == 'talk' %}
      <li class="post-item">
        <p class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }} | {{ post.event }}
        </p>

        <h2 class="post-title">
          <a href="{{ post.video_url }}">{{ post.title }}</a>
        </h2>

        <p class="post-excerpt">{{ post.description }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
