<div id="disqus_thread"></div>

<script>
  var disqus_config = function () {
    this.page.url = '{{ post.url | prepend: site.baseurl }}';
    this.page.identifier = '{{ post.id }}';
  };

  (function(d) {
    var s = d.createElement('script');
    s.src = '//pretty-okay.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    d.body.appendChild(s);
  }(document));
</script>

<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow"  target="_blank">comments powered by Disqus.</a>
</noscript>

<script id="dsq-count-scr" src="//pretty-okay.disqus.com/count.js" async></script>
