<footer class="site-footer">

  <div class="wrapper">

    <p class="info">I'm <a href="{{ "/about" | prepend: site.baseurl }}">Trent Willis</a>. I make web things.</p>

    <div class="social-icons">
      {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      {% endif %}

      {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
      {% endif %}

      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" rel="noopener noreferrer">RSS</a>

      <button id="theme-toggle" class="theme-toggle" role="switch" aria-checked="false">
        <span class="dark-mode mode-option">{% include dark-mode.svg %}</span>
        <span class="light-mode mode-option">{% include light-mode.svg %}</span>
      </button>
    </div>

  </div>

</footer>
