<footer class="site-footer">

  <div class="wrapper">

    <p class="info">I'm <a href="mailto:{{ site.email }}">Trent</a>. {{ site.description }}</p>

    <div class="social-icons">
      {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      {% endif %}

      {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
      {% endif %}

      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
    </div>

  </div>

</footer>
