<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.tab_title %}{{ page.tab_title }}{% else %}{{ page.title | xml_escape }}{% endif %} | {{ site.title }}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="theme-color" content="#E12D39">

  <meta property="og:image" content="{%if page.image %}{{ page.image | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ "/assets/site-logo.png" | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta property="og:title" content="{{ page.title | strip_html | xml_escape }}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | xml_escape }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="manifest" href="/manifest.json">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ page.title | strip_html | xml_escape }}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | xml_escape }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{%if page.image %}{{ page.image | prepend: '/assets/images/' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ "/assets/site-logo.png" | prepend: site.baseurl | prepend: site.url }}{% endif %}">
</head>
