/**
 * Reset some basic elements
 */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, td {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */

html {
  font-family: $base-font-family;
  font-size: $min-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;

  color: $color-black;
  background-color: $color-white;

  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

@include media-query($min-viewport-width) {
  html {
    font-size: calc(#{$min-font-size} + 4 * ((100vw - #{$min-viewport-width}) / 780));
  }
}

@include media-query($max-viewport-width) {
  html {
    font-size: $max-font-size;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, hr {
  margin-bottom: $spacing-unit;
}

/**
 * Images
 */

img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */

figure > img {
  display: block;
}

figcaption {
  font-size: $size-1;
}

/**
 * Lists
 */

ul, ol {
  margin-left: 2 * $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin: $spacing-unit 0;
  color: $color-brand;
  line-height: 1.5;

  background: -webkit-linear-gradient(left, $color-brand, $color-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  max-width: 100%;
  width: max-content;
}

h1 { font-size: $size-5; }
h2 { font-size: $size-4; }
h3 { font-size: $size-3; }
h4 { font-size: $size-2; }
h5 { font-size: $size-1; }

/**
 * Links
 */

a {
  color: color-primary(3);
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: color-primary(1);
  }
}

/**
 * Blockquotes
 */

blockquote {
  color: $color-black;
  line-height: 1.5;
  font-style: italic;
  text-align: center;
  position: relative;
  padding: $spacing-unit 0;

  cite {
    display: block;
    font-style: normal;
    color: $color-grey;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;

    @include gradient(-45deg);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

/**
 * Code formatting
 */

pre,
code {
  border: 1px solid $color-grey-light;
  line-height: 1.5;

  pre {
    border: none;
    margin-bottom: 0;
  }
}

code {
  padding: ($spacing-unit * 0.1) ($spacing-unit * 0.2);
  border-radius: 4px;
  color: $color-accent;
}

pre {
  border-radius: $spacing-unit / 4;
  overflow-x: auto;

  > code {
    color: $color-black;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Font Styles
 */

hr {
  border: none;
  height: 1px;
  width: 100%;
  @include gradient(to left);
}

.footnote {
  font-size: $size-0;
  color: $color-grey-dark;
}

/**
 * Wrapper
 */

.wrapper {
  box-sizing: border-box;
  max-width: $content-width;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @extend %clearfix;
}

/**
 * Clearfix
 */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */

.icon {
  .article-meta & > svg {
    vertical-align: initial;
    top: 2px;
    position: relative;
  }

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $color-brand;
      transition: fill 0.2s;
    }

    &:hover path {
      fill: darken($color-brand, 15%)
    }
  }
}

/**
 * Collapsible
 */

.collapsible-toggle {
  background: $color-brand;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: $color-white;
  font-size: $size-0;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit / 2;
}

.collapsible-toggle[aria-expanded="true"] {
  background: $color-accent;
}

.collapsible[aria-hidden="true"] {
  display: none;
}

/**
 * Accessibility
 */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
