/**
 * Site header
 */

.site-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: ($spacing-unit * 2);
  width: 100%;

  &_link {
    font-weight: bold;
    margin-left: ($spacing-unit / 2);
    padding-bottom: ($spacing-unit / 4);

    &.active {
      border-bottom: 2px solid $color-accent;
      color: $color-accent;
    }
  }

  &_nav {
    float: right;
    margin-left: $spacing-unit;
  }
}

.site-title {
  line-height: 1;
  font-size: $medium;
  margin-left: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

@include media-query($device-mobile) {
  .site-header {
    padding: ($spacing-unit);

    &_link {
      display: block;
      padding-bottom: 0;
      text-align: right;

      &.active {
        border-bottom: none;
      }
    }
  }

  .site-title {
    text-align: left;
  }
}

/**
 * Banner
 */

.banner {
  align-items: center;
  display: flex;
  position: relative;
  padding: ($spacing-unit * 2) 0;
  min-height: ($spacing-unit * 10);
  line-height: 1;
  text-align: center;

  @include gradient(to left);

  background-size: cover;
  background-position: top 40% left 50%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include gradient(to left);
    opacity: 0.85;
  }

  .wrapper {
    position: relative;
  }
}

.banner-title {
  color: $color-white;
  -webkit-text-fill-color: initial;
  font-size: $x-large;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

/**
 * Site footer
 */

.site-footer {
  position: relative;
  padding: $spacing-unit 0;
  margin-top: $spacing-unit * 4;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;

    @include gradient(-45deg);
  }

  .info {
    float: left;
    width: 60%;
    margin: 0;
    line-height: 1.2;
  }

  .social-icons {
    float: left;
    width: 40%;
    text-align: right;

    a {
      display: inline-block;
      margin-left: ($spacing-unit / 2);
      line-height: 1.2;
      vertical-align: top;
    }
  }
}

/**
 * Page Content
 */

.page-content {
  animation-name: fade-in;
  animation-duration: 1.5s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/**
 * Index / Home
 */

.section-header {
  margin: $spacing-unit 0 $spacing-unit;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
}

.post-list {
  margin: 0;
  list-style: none;
}

.post-item {
  padding: $spacing-unit 0;
  border-bottom: 1px solid $color-grey-light;
  text-align: center;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &.is-small {
    padding: $spacing-unit / 2 0;
  }
}

.post-title {
  position: relative;
  line-height: 1.2;
  margin: 0;
  font-size: 2rem;

  a {
    -webkit-text-fill-color: initial;
  }
}

.post-excerpt {
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: italic;
  color: $color-grey-dark;
}

.article-meta,
.post-meta {
  font-size: 1rem;
  color: $color-grey-dark;
  margin: 0;
}

/**
 * Articles
 */

.article-header {
  margin: $spacing-unit 0;
  text-align: center;
}

.article-content {
  > :last-child {
    margin-bottom: 0;
  }
}

.article-footer {
  padding-top: $spacing-unit;
  margin-top: $spacing-unit;
  border-top: 1px solid $color-grey-light;
}


/**
 * About
 */

.profile-picture {
  border-radius: 100%;
  display: block;
  margin: ($spacing-unit * 2) auto;
  width: ($spacing-unit * 10);
}

.profile-picture-title {
  text-align: center;
}

@include media-query($device-mobile) {
  .profile-picture {
    width: ($spacing-unit * 8);
  }
}
