/**
 * Site header
 */

.site-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: $spacing-unit;
  width: 100%;

  &_link {
    display: block;
    font-weight: bold;
    padding-bottom: 0;
    text-align: right;

    &.active {
      color: $color-accent;
    }
  }

  &_nav {
    float: right;
    margin-left: $spacing-unit;
  }
}

.site-title {
  line-height: 1;
  font-size: $size-2;
  margin-left: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

@include media-query($min-viewport-width) {
  .site-header {
    padding: ($spacing-unit * 2);

    &_link {
      display: inline-block;
      margin-left: ($spacing-unit / 2);
      padding-bottom: ($spacing-unit / 4);

      &.active {
        border-bottom: 2px solid $color-accent;
      }
    }
  }

  .site-title {
    text-align: left;
  }
}

/**
 * Banner
 */

.banner {
  align-items: center;
  display: flex;
  position: relative;
  padding: ($spacing-unit * 2) 0;
  min-height: ($spacing-unit * 5);
  line-height: 1;
  text-align: center;

  @include gradient(to left);

  background-size: cover;
  background-position: top 40% left 50%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include gradient(to left);
    opacity: 0.9;
  }

  .wrapper {
    position: relative;
  }

  hr {
    background: white;
  }
}

.banner-title {
  color: $color-white;
  -webkit-text-fill-color: initial;
  font-size: $size-5;
  margin: 0;
}

.landing-title {
  color: white;
  -webkit-text-fill-color: white;
}

/**
 * Site footer
 */

.site-footer {
  position: relative;
  padding: $spacing-unit 0;
  margin-top: $spacing-unit * 4;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;

    @include gradient(-45deg);
  }

  .info {
    float: left;
    width: 60%;
    margin: 0;
    line-height: 1.2;
  }

  .social-icons {
    float: left;
    width: 40%;
    text-align: right;

    a {
      display: inline-block;
      margin-left: ($spacing-unit / 2);
      line-height: 1.2;
      vertical-align: top;
    }
  }
}

/**
 * Page Content
 */

.page-content {
  animation-name: fade-in;
  animation-duration: 1.5s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/**
 * Index / Home
 */

.section-header {
  margin: $spacing-unit 0 $spacing-unit;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
}

.post-list {
  margin: 0;
  list-style: none;
}

.post-item {
  padding: $spacing-unit 0;
  border-bottom: 1px solid $color-grey-light;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .post-list.has-highlight &:first-child {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: ($spacing-unit * 2);
    padding-bottom: $spacing-unit;
    margin-top: ($spacing-unit * 2);
    margin-bottom: ($spacing-unit * 2);
    border-radius: 3px;
    border-bottom: none;

    &::before {
      content: "Latest";
      color: $color-grey;
      display: block;
      line-height: 1;
      margin-bottom: ($spacing-unit / 2);
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
}

.post-title {
  position: relative;
  line-height: 1.2;
  margin: 0;
  font-size: 2rem;

  a {
    -webkit-text-fill-color: initial;
  }
}

.post-excerpt {
  margin-top: $spacing-unit;
  font-style: italic;
  color: $color-grey-dark;
}

.article-meta,
.post-meta {
  color: $color-grey;
  margin: 0;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: $spacing-unit;
  list-style: none;
  margin: 0;
}

.post-grid-item {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: $spacing-unit;
  padding-bottom: $spacing-unit * 3;
  position: relative;
}

.watch-video {
  bottom: $spacing-unit;
  left: $spacing-unit;
  margin-bottom: 0;
  position: absolute;
}

/**
 * Articles
 */

.article-header {
  margin: $spacing-unit 0;
  text-align: center;
}

.article-content {
  > :last-child {
    margin-bottom: 0;
  }
}

.article-footer {
  padding-top: $spacing-unit;
  margin-top: $spacing-unit;
  border-top: 1px solid $color-grey-light;
}


/**
 * About
 */

.about-grid {
  display: grid;
  grid-gap: $spacing-unit;
  grid-template-columns: 100%;
  justify-content: center;
  margin-top: 2.666rem;
}

.about-picture {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  max-width: ($spacing-unit * 10);
}

@include media-query(600px) {
  .about-grid {
    grid-template-columns: 16rem 1fr;
  }
}
