/**
 * Site header
 */

.site-header {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: $spacing-unit;
  width: 100%;

  &_link {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 0;
    text-align: right;
    color: color-neutral(2);

    &:hover {
      color: color-neutral(0);
    }

    &.active {
      color: color-secondary(4);
    }
  }

  &_nav,
  &_search {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: $spacing-unit * 3;
    background: $color-white;
    z-index: 1;
    border-top: 1px solid $color-grey-light;
    box-shadow: 0 $spacing-unit $spacing-unit rgba(0,0,0,0.2);
  }

  &_nav {
    justify-content: space-around;
    align-items: center;

    &.is-expanded {
      display: flex;
    }
  }

  &_search {
    &.is-expanded {
      display: block;
    }
  }

  &_toggle {
    padding: 1rem;
    border: none;
    color: $color-grey;
    background: transparent;

    &:first-of-type {
      margin-left: auto;
    }

    &[aria-expanded="true"] {
      color: $color-brand;
    }
  }

  &_icon {
    position: static;
    fill: currentColor;
    vertical-align: middle;
    width: $size-2;
    height: $size-2;
    transform: none;
  }
}

.site-title {
  color: $color-brand;
  line-height: 1;
  font-size: $size-2;
  margin-left: 0;
  padding-bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    color: $color-brand;
  }
}

@include media-query($min-viewport-width) {
  .site-header {
    padding: calc((1.333rem * 1.8) - 2px) ($spacing-unit * 2);

    &_link {
      margin-left: ($spacing-unit / 2);
      padding-bottom: ($spacing-unit / 4);

      &.site-title,
      &:first-child {
        margin-left: 0;
      }
    }

    &_nav {
      display: block;
      position: static;
      width: auto;
      box-shadow: none;
      border: none;
      height: auto;
    }

    &_search {
      display: block;
      position: relative;
      top: -4px;
      height: auto;
      flex: 1;
      margin: 0 $spacing-unit;
      border: none;
      box-shadow: none;
    }

    &_toggle {
      display: none;
    }
  }

  .site-title {
    text-align: left;
  }
}

/**
 * Banner
 */

.banner {
  align-items: center;
  display: flex;
  position: relative;
  padding: ($spacing-unit * 2) 0 ($spacing-unit * 2.5);
  min-height: ($spacing-unit * 5);
  line-height: 1;
  text-align: center;

  &.no-image {
    @include animated-gradient();
  }

  &.has-image {
    background-position: top 40% left 50%;
    background-size: cover;

    &::before {
      opacity: 0.9;
      @include animated-gradient();
    }
  }

  &::after {
    background-position: bottom -7% left 250%;
    background-size: 90% 15%;
    background-repeat: repeat-x;
    background-image: url("/assets/wave.svg");
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .wrapper {
    position: relative;
  }

  hr {
    background: $color-white;
  }
}

@include media-query($min-viewport-width) {
  .banner::after {
    background-position: bottom -9% left 250%;
    background-size: 90% 20%;
  }
}

.banner-title {
  color: $color-white;
  -webkit-text-fill-color: initial;
  font-size: $size-5;
  margin: 0;
  width: initial;
}

.landing-title {
  width: initial;
  color: $color-white;
  -webkit-text-fill-color: $color-white;
}

/**
 * Site footer
 */

.site-footer {
  position: relative;
  padding: ($spacing-unit * 2) 0;
  margin-top: $spacing-unit * 4;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;

    @include gradient(-45deg);
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info {
    margin: 0;
    line-height: 1.2;
  }

  .social-icons {
    display: flex;
    align-items: center;
    text-align: right;

    a {
      display: inline-block;
      margin-left: ($spacing-unit / 2);
      line-height: 1.2;
    }
  }
}

/**
 * Page Content
 */

.share-blurb {
  margin-top: $spacing-unit * 4;
  font-style: italic;
  font-weight: bold;
  color: $color-brand;
  line-height: 1.5;

  background: -webkit-linear-gradient(left, $color-brand, $color-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  & > a {
    -webkit-text-fill-color: initial;
    text-decoration: underline;
  }
}

/**
 * Index / Home
 */

.section-header {
  margin: $spacing-unit auto;

  section:first-of-type &:first-child {
    margin-top: $spacing-unit / 2;
  }
}

.post-list {
  margin: 0;
  list-style: none;
}

.post-item {
  padding: $spacing-unit 0;
  border-bottom: 1px solid $color-grey-light;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .post-list.has-highlight &:first-child {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: ($spacing-unit * 2);
    padding-bottom: $spacing-unit;
    margin-top: ($spacing-unit * 2);
    margin-bottom: ($spacing-unit * 2);
    border-radius: $spacing-unit / 4;
    border-bottom: none;

    &::before {
      content: "Latest";
      color: $color-grey;
      display: block;
      line-height: 1;
      margin-bottom: ($spacing-unit / 2);
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  .post-list.has-highlight:first-child &:first-child {
    margin-top: ($spacing-unit * 1.5);
  }
}

.post-title {
  position: relative;
  line-height: 1.2;
  margin: 0;
  font-size: 2rem;

  a {
    -webkit-text-fill-color: currentColor;
  }
}

.post-excerpt {
  margin-top: $spacing-unit;
  font-style: italic;
}

.article-meta,
.post-meta {
  color: $color-grey-dark;
  margin: 0;
}

/**
 * Articles
 */

.article-header {
  margin: ($spacing-unit / 2) 0 $spacing-unit;
  text-align: center;
}

/**
 * About
 */

.about-grid {
  display: grid;
  grid-gap: $spacing-unit;
  grid-template-columns: 100%;
  justify-content: center;
  margin-top: $spacing-unit * 1.5;
}

.about-picture {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  max-width: ($spacing-unit * 10);
}

@include media-query(600px) {
  .about-grid {
    grid-template-columns: 16rem 1fr;
  }
}
