/**
 * Syntax highlighting styles
 */
.highlight {
  margin-bottom: $spacing-unit;

  pre {
    background-color: color-neutral(0);
    color: color-neutral(8);
  }

  .gl {
    padding: ($spacing-unit / 4);
  }

  .lineno {
    color: color-neutral(7);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .code {
    padding: 0 $spacing-unit / 2;
  }

  /*! Dracula theme; https://github.com/zenorocha/dracula-theme */
  .hll { background-color: #ffffcc !important; }
  .gd { color: #AB091E !important; } /* Generic.Deleted */
  .go { color: #515151 !important; background-color: #32343f !important; } /* Generic.Output */

  .na { color: #B990FF !important; } /* Name.Attribute */
  .nf { color: #B990FF !important; } /* Name.Function */

  .nv { color: #8DED2D !important; font-style: italic !important; } /* Name.Variable */
  .vc { color: #8DED2D !important; font-style: italic !important; } /* Name.Variable.Class */
  .vg { color: #8DED2D !important; font-style: italic !important; } /* Name.Variable.Global */
  .vi { color: #8DED2D !important; font-style: italic !important; } /* Name.Variable.Instance */

  .m { color: #B990FF !important; } /* Literal.Number */
  .mf { color: #B990FF !important; } /* Literal.Number.Float */
  .mh { color: #B990FF !important; } /* Literal.Number.Hex */
  .mi { color: #B990FF !important; } /* Literal.Number.Integer */
  .mo { color: #B990FF !important; } /* Literal.Number.Oct */
  .il { color: #B990FF !important; } /* Literal.Number.Integer.Long */

  .k { color: #F86A6A !important; } /* Keyword */
  .cp { color: #F86A6A !important; font-style: italic; } /* Comment.Preproc */
  .gt { color: color-neutral(8) !important; background-color: #F86A6A !important; } /* Generic.Traceback */
  .kc { color: #F86A6A !important; } /* Keyword.Constant */
  .kd { color: #F86A6A !important; } /* Keyword.Declaration */
  .kn { color: #F86A6A !important; } /* Keyword.Namespace */
  .kp { color: #F86A6A !important; } /* Keyword.Pseudo */
  .kr { color: #F86A6A !important; } /* Keyword.Reserved */
  .nt { color: #F86A6A !important; } /* Name.Tag */
  .ow { color: #F86A6A !important; } /* Operator.Word */

  .c { color: #A368FC !important; font-style: italic; } /* Comment */
  .cm { color: #A368FC !important; font-style: italic; } /* Comment.Multiline */
  .c1 { color: #A368FC !important; font-style: italic; } /* Comment.Single */
  .cs { color: #A368FC !important; font-style: italic; } /* Comment.Special */

  .s { color: #81DEFD !important; } /* Literal.String */
  .nl { color: #81DEFD !important; } /* Name.Label */
  .sb { color: #81DEFD !important; } /* Literal.String.Backtick */
  .sc { color: #81DEFD !important; } /* Literal.String.Char */
  .sd { color: #81DEFD !important; } /* Literal.String.Doc */
  .s2 { color: #81DEFD !important; } /* Literal.String.Double */
  .se { color: #81DEFD !important; } /* Literal.String.Escape */
  .sh { color: #81DEFD !important; } /* Literal.String.Heredoc */
  .si { color: #81DEFD !important; } /* Literal.String.Interpol */
  .sx { color: #81DEFD !important; } /* Literal.String.Other */
  .sr { color: #81DEFD !important; } /* Literal.String.Regex */
  .s1 { color: #81DEFD !important; } /* Literal.String.Single */
  .ss { color: #81DEFD !important; } /* Literal.String.Symbol */

  .err { color: #F7F7F7 !important; } /* Error */
  .g { color: #F7F7F7 !important; } /* Generic */
  .l { color: #F7F7F7 !important; } /* Literal */
  .n, .highlight .h { color: #F7F7F7 !important; } /* Name */
  .o { color: #F7F7F7 !important; } /* Operator */
  .x { color: #F7F7F7 !important; } /* Other */
  .p { color: #F7F7F7 !important; } /* Punctuation */
  .ge { color: #F7F7F7 !important; text-decoration: underline !important; } /* Generic.Emph */
  .gr { color: #F7F7F7 !important; } /* Generic.Error */
  .gh { color: #F7F7F7 !important; font-weight: bold !important; } /* Generic.Heading */
  .gi { color: #F7F7F7 !important; font-weight: bold !important; background-color: #468410 !important; } /* Generic.Inserted */
  .gp { color: #F7F7F7 !important; } /* Generic.Prompt */
  .gs { color: #F7F7F7 !important; } /* Generic.Strong */
  .gu { color: #F7F7F7 !important; font-weight: bold !important; } /* Generic.Subheading */
  .kt { color: #F7F7F7 !important; } /* Keyword.Type */
  .ld { color: #F7F7F7 !important; } /* Literal.Date */
  .nb { color: #F7F7F7 !important; } /* Name.Builtin */
  .nc { color: #F7F7F7 !important; } /* Name.Class */
  .no { color: #F7F7F7 !important; } /* Name.Constant */
  .nd { color: #F7F7F7 !important; } /* Name.Decorator */
  .ni { color: #F7F7F7 !important; } /* Name.Entity */
  .ne { color: #F7F7F7 !important; } /* Name.Exception */
  .nn { color: #F7F7F7 !important; } /* Name.Namespace */
  .nx { color: #F7F7F7 !important; } /* Name.Other */
  .py { color: #F7F7F7 !important; } /* Name.Property */
  .w { color: #F7F7F7 !important; } /* Text.Whitespace */
  .bp { color: #F7F7F7 !important; } /* Name.Builtin.Pseudo */
}
