<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include pre-scripts.html %}

    {% include header.html %}

    <div {% if page.image %}class="banner has-image" style="background-image:url('{{ page.image | prepend: '/assets/images/' }}')"{% else %}class="banner no-image"{% endif %}>
      {% unless page.image %}
        <generated-background></generated-background>
      {% endunless %}
      <div class="wrapper">
        {% if page.landing == true %}
          <h2 class="landing-title">{{ page.title }}</h2>
          <hr>
        {% else %}
          <h2 class="banner-title" itemprop="name headline">{{ page.title }}</h2>
        {% endif %}
      </div>
    </div>

    <div class="page-content wrapper">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
