<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="banner"{% if page.image %} style="background-image:url('{{ page.image | prepend: '/assets/images/' }}')"{% endif %}>
      <div class="wrapper">
        {% if page.landing == true %}
          <h2 class="landing-title">{{ page.title }}</h2>
          <hr>
        {% else %}
          <h2 class="banner-title" itemprop="name headline">{{ page.title }}</h2>
        {% endif %}
      </div>
    </div>

    <div class="page-content wrapper">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
