---
layout: default
---
<article class="article" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="article-header">
    <p class="article-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.id | date: "%b %-d, %Y" }}</time>

      {% if page.author %} |
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}

      |

      {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      {% endif %}

      {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
      {% endif %}
    </p>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ content }}

    <p class="share-blurb">
      If you enjoyed this post or, at least, learned something from it, then I'd appreciate it if you could <a target="_blank" rel="noreferrer noopener" href="http://twitter.com/share?text=%22{{ page.title | strip_html | xml_escape }}%22%20by%20@trentmwillis&url={{ page.url | replace:'.html','' | prepend: site.baseurl | prepend: site.url }}">share it</a> so that others can enjoy or learn from it (or both)!
    </p>
  </div>

  {% include post-scripts.html %}
</article>
