---
layout: default
---
<article class="article" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="article-header">
    <p class="article-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.id | date: "%b %-d, %Y" }}</time>

      {% if page.author %} |
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}

      | <a href="#disqus_thread" data-disqus-identifier="{{ page.id }}">0 Comments</a>
    </p>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="article-footer">
    {% include disqus.html %}
  </footer>
</article>
